﻿
@{
    ViewData["Title"] = "_LayoutCV";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Curriculum Vitae</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
   
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
   
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

        <link rel="stylesheet" href="~/css/normalize.min.css">
        <link rel="stylesheet" href="~/css/main.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>


</head>
<body class="bg-fixed bg-1">
    <div class="main-container">
        <div class="main wrapper clearfix">
            <header id="header">
                <div style="text-align:center">
                    <h2>
                        Alejandro Tejada
                    </h2>
                    <h4>
                        Student / Developer
                    </h4>
                </div>
            </header>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - Universidad del Valle</p>
        </footer>
    </div>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="~/js/vendor/jquery-1.10.1.min.js"><\/script>')</script>
        <script src="~/js/vendor/jquery.hashchange.min.js"></script>
        <script src="~/js/vendor/jquery.easytabs.min.js"></script>

        <script src="~/js/main.js"></script>
    </environment>


    @RenderSection("Scripts", required: false)
</body>
</html>
