﻿
@{
    ViewData["Title"] = "Curriculum Vitae";
    Layout = "_LayoutCV";
}

<html xmlns="http://www.w3.org/1999/xhtml" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
</head>
<body class="bg-fixed bg-1">
    <a href="#experience"></a>
    <a href="#education"></a>
    <a href="#skills"></a>
    <div class="main-container">
        <div class="main wrapper clearfix">
            <div id="tab-container" class="tab-container">
                <ul class='etabs'>
                    <li class='tab' id="tab-about">
                        <a href="#about"><i class="icon-user"></i><span> About me</span></a>
                    </li>
                    <li class='tab'>
                        <a href="#resume"><i class="icon-file-text"></i><span> Resume</span></a>
                    </li>

                </ul>
                <!-- Fin de la tabla de contactos -->
                <div id="tab-data-wrap">
                    <div id="about">
                        <section class="clearfix">
                            <div class="g2">
                                <div class="photo" style="background:linear-gradient(rgb(215, 23, 23),rgb(226, 129, 129))">
                                    <img alt="Alejandro Tejada" src="~/images/foto.jpg" style="width:180px; height:180px; margin-top:10px; margin-left:9px" class="center-block">
                                </div>
                                <div class="info">
                                    <h3>
                                        Jose Tejada
                                    </h3>
                                    <h4>
                                        Student
                                    </h4>
                                    <p>

                                        I am a student at the University of the Valley of Guatemala. A future developer of Web Services.
                                    </p>
                                </div>
                            </div>
                            <div class="g1">
                                <div class="main-links sidebar">
                                    <ul>
                                        <li>
                                            <a href="#resume">Look at my CV</a>
                                        </li>
                                        <li>
                                            <a href="http://www.uvg.edu.gt/"> Universidad del Valle WebSite</a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <div class="break"></div>
                            <!--Inicia los iconos de contacto -->
                            <div class="contact-info">
                                <div class="g1">
                                    <div class="item-box clearfix">
                                        <i class="icon-envelope"></i>
                                        <div class="item-data">
                                            <h3><a asp-area="" asp-controller="Home" asp-action="CVContact">Contact</a></h3>
                                            <p>Web Form</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="g1">
                                    <div class="item-box clearfix">
                                        <i class="icon-facebook"></i>
                                        <div class="item-data">
                                            <h3><a href="https://www.facebook.com/alejandro.a.flores.17584">Jose Alejandro Tejada</a></h3>
                                            <p>Facebook profile</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="g1">
                                    <div class="item-box clearfix">
                                        <i class="icon-linkedin"></i>
                                        <div class="item-data">
                                            <h3><a href="https://www.linkedin.com/in/alejandrotejada17584/">Alejandro Tejada</a></h3>
                                            <p>LinkedIn profile</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <!-- Finalizan los iconos de contacto-->
                    <div id="resume">
                        <section class="clearfix">
                            <div class="g2" >
                                <h3 id="experience">
                                    Work Experience
                                </h3>
                                <ul class="no-list work" id="experience">
                                    <li>
                                        <h5>Internship</h5><span class="label label-info">2016</span>
                                                           <p>
                                                               Previously I had experience being a collaborator in this company, on my return as a practitioner,
                                                               Gradually I have gained experience in the area of ​​computer science and electronics, I was instructed in the maintenance of varied office equipment, such as printers, scanners, UPS, monitors and cash registers. In addition to the activities mentioned above,
                                                               I was instructed on the new policies in terms of operating systems in the computers, which is why we use state-of-the-art OS. The use of tools for the repair of machines and computers was also a difficult subject to learn, but without a doubt it was an unforgettable experience
                                                           </p>
                                    </li>
                                    <li>
                                        <h5>Partner for a Day</h5><span class="label label-info">2016</span>
                                                                  <p>

                                                                      I participated in the initiative "Partners for a Day", this theme is based on accompanying a manager or boss in a whole day of
                                                                      Work, spend time with him and learn from his qualities and the way he makes his decisions.
                                                                      The area in which I had the opportunity to collaborate was in technical support of the company, it manages the credit cards of Banrural, provides them to the bank and in its database contains the registration of the cards
                                                                  </p>
                                    </li>
                                    <li>
                                        <h5>Be incredibly positive</h5><span class="label label-danger">2016-until die</span>
                                                                            <p>

                                                                                An essential part of my experience in life is always positive. Show and give the best of me always to make people feel proud with whom I relate.
                                                                            </p>
                                    </li>

                                </ul>
                                <h3 id="education">Education</h3>
                                <ul class="no-list work" id="education">
                                    <li>
                                        <h5>Instituto Tecnológico de Computación</h5><span class="label label-success">2014-2016</span>
                                                                                     <p>

                                                                                         The curiosity that moved me since I was a child led me to pursue the career of Industrial Bachelor and Expert in Electronics with specialty in Microprocessors. A career that marked my life because it gave me a lot of sense about working as a team, learning to see strengths and weaknesses in me and being a source of support in projects.
                                                                                     </p>
                                    </li>
                                    <li>
                                        <h5>Universidad del Valle de Guatemala</h5><span class="label label-info">2017-present</span>
                                                                                   <p>

                                                                                       Engineering has always been of my greatest interest, after my diversification I decided to dedicate my life to computing. Engineering in Computer Science and IT offers me everything I want to practice as a professional.
                                                                                       I am currently taking this university course and I am determined to complete this stage of my life.
                                                                                   </p>
                                    </li>
                                </ul>
                            </div>
                            <div class="g1">

                                <div class="sidebar" id="skills">
                                    <h3 id="skills">
                                        Skills
                                    </h3>
                                    <h5>
                                        Software
                                    </h5>
                                    <div class="meter emerald">
                                        <span style="width: 90.0%"><span>Microsoft Office</span></span>
                                    </div>
                                    <div class="meter carrot">
                                        <span style="width: 90%"><span>Multisim</span></span>
                                    </div>
                                    <div class="meter wisteria">
                                        <span style="width: 85%"><span>Windows</span></span>
                                    </div>
                                    <div class="meter sunflower">
                                        <span style="width: 40%"><span>Linux</span></span>
                                    </div>
                                    <div class="meter midnight">
                                        <span style="width: 70%"><span>Dreamweaver</span></span>
                                    </div>
                                    <div class="meter pomengrate">
                                        <span style="width: 60%"><span>Mathcad</span></span>
                                    </div>
                                    <div class="break"></div>
                                    <h5>
                                        Design
                                    </h5>
                                    <div class="meter emerald">
                                        <span style="width: 65%"><span>User Interface</span></span>
                                    </div>
                                    <div class="meter carrot">
                                        <span style="width: 80%"><span>LabView NI</span></span>
                                    </div>
                                    <div class="meter wisteria">
                                        <span style="width: 80%"><span>Web Applications</span></span>
                                    </div>
                                    <div class="meter emerald">
                                        <span style="width: 80%"><span>UML Star</span></span>
                                    </div>
                                    <div class="meter carrot">
                                        <span style="width: 80%"><span>Proteus</span></span>
                                    </div>
                                    <div class="break"></div>
                                    <h5>

                                        Programming languages
                                    </h5>
                                    <div class="meter emerald">
                                        <span style="width: 85%"><span>HTML/CSS</span></span>
                                    </div>
                                    <div class="meter carrot">
                                        <span style="width: 80%"><span>PHP/MySql/SQL</span></span>
                                    </div>
                                    <div class="meter wisteria">
                                        <span style="width: 80%"><span>jQuery/JavaScript</span></span>
                                    </div>
                                    <div class="meter sunflower">
                                        <span style="width: 65%"><span>MPLAB, ASSAMBLER</span></span>
                                    </div>
                                    <div class="meter asbestos">
                                        <span style="width: 80%"><span>Python</span></span>
                                    </div>
                                    <div class="meter emerald">
                                        <span style="width: 85%"><span>C#/Java</span></span>
                                    </div>
                                    <div class="meter carrot">
                                        <span style="width: 80%"><span>Mikro Pascal Pro</span></span>
                                    </div>
                                    <div class="meter asbestos">
                                        <span style="width: 80%"><span>Pascal</span></span>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

            </div>
        </div>
    </div>



</body>
</html>

