﻿
@{
    ViewData["Title"] = "CVContacto";
    Layout = "_LayoutCV";
   
   
}


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Contact</title>
   
</head>
<body>
    <a href="#contact"></a>
 
    
    
    <div id="tab-container" class="tab-container">
        <div id="tab-data-wrap">
            <div id="contact">
                <section class="clearfix">
                    <div class="g1">
                        <div class="sny-icon-box">
                            <div class="sny-icon">
                                <i class="icon-globe"></i>
                            </div>
                            <div class="sny-icon-content">
                                <h4>My Adress</h4>
                                <p>29 AV 18-00 18 zone, El Refugio de San Rafael 3 apartament G-44</p>
                            </div>
                        </div>
                    </div>
                    <div class="g1">
                        <div class="sny-icon-box">
                            <div class="sny-icon">
                                <i class="icon-phone"></i>
                            </div>
                            <div class="sny-icon-content">
                                <h4>Phone number</h4>
                                <p>(502) 5565-5282</p>
                            </div>
                        </div>
                    </div>
                    <div class="g1">
                        <div class="sny-icon-box">
                            <div class="sny-icon">
                                <i class="icon-user"></i>
                            </div>
                            <div class="sny-icon-content">
                                <h4>About me</h4>
                                <p>
                                    I love working, I am proactive and I learn fast.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="break"></div>
                    @model Lab1.Models.FormContactModel;

                    <form asp-action="CVContact" asp-controller="Home" method="post">
                        <label asp-for="FirstName"></label>
                        <input asp-for="FirstName" placeholder="Enter your First Name" class="form-control" />
                        <label asp-for="SecondName"></label>
                        <input asp-for="SecondName" placeholder="Enter your Last Name" class="form-control" />
                        <label asp-for="Email"></label>
                        <input asp-for="Email" placeholder="Enter your email" class="form-control"/>
                        <label asp-for="Message"></label>
                        <textarea asp-for="Message" placeholder="Leave your message" class="form-control" rows="5"></textarea>
                        <div class="break"></div>
                        <input type="submit" class="btn btn-default" value="Send"/>
                        
                    </form>




                </section>
            </div>

        </div>
    </div>
</body>
</html>

